<style>
  body {
    text-align: center;
    font-family: "Arial";
    background-color: Turquoise ;
    color: SlateBlue;
    }

  h1{
    font-family: "Arial";
    color: SlateBlue;
    }

  ul {
      margin-top: 5px;
      color: Tomato;
    }
  </style>
