<!-- <!DOCTYPE html>
<html>
<head>
  <link rel=“stylesheet” type=“text/css” href=“/style.css”/>
</head> -->
<style>
  body {
    font-family: "Arial";
    background-color: Turquoise ;
    color: SlateBlue;
    }
</style>

<body>
  <h1> Add new bookmark </h1>
<form action="/bookmarks" method="post">
  <input type="text" name="url" placeholder="url"/>
  <input type="text" name="title" placeholder="title"/>
  <input type="submit" value="Submit"/>
</form>
</body>
</html>
