<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>

<body>

  <h1> Add New Bookmark </h1>
<form action="/bookmarks" method="post">
  <input type="text" name="url" placeholder="url"/>
  <input type="text" name="title" placeholder="title"/>
  <button type="submit">Submit</button>

<br>
  <form action="/" >
    <button type="submit">Home</button>
  </form>

  <form action="/bookmarks">
  <button type="submit">View Bookmarks</button>
  </form>
</form>
</body>
</html>
