<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>

<body>

  <h1>  Bookmark Manager </h1>

  <form action="/bookmarks">
  <button type="submit">View Bookmarks</button>
  </form>

</body>
</html>
